# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Mac / Windows OS files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / React Build Outputs
dist/
dist-ssr/
*.local

# Electron Build Outputs
release/
dist-electron/
out/

# TypeScript cache
*.tsbuildinfo